$sidebar-bg-color: #4169e1 !default;
$sidebar-color: #FFFFFF !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #002366 !default;
$submenu-bg-color-collapsed: #002366 !default;
$icon-bg-color: #002366 !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}